[Desktop Entry]
Type=Application
Name=keyboard
Exec=/usr/bin/setxkbmap -layout SPICE_KB_LAYOUT -variant SPICE_KB_VARIANT
NoDisplay=true
Terminal=false
Categories=